<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>New Project</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">



    <script src="statics/javascript/angular/angular.min.js"></script>
    <script src="statics/javascript/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="statics/javascript/angular-cookies/angular-cookies.min.js"></script>
    <script src="statics/javascript/angular-resource/angular-resource.min.js"></script>
    <script src="statics/javascript/angular-route/angular-route.min.js"></script>
    <script src="statics/javascript/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="statics/javascript/angular-ui-utils/ui-utils.min.js"></script>
    <script src="statics/javascript/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="statics/javascript/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>